@use 'reset.css';
// @import 'bootstrap';

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import 'bootstrap/scss/functions';

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

// 4. Include any optional Bootstrap components as you like
// @import 'bootstrap/scss/buttons';
// @import 'bootstrap/scss/dropdown';
// 5. Add additional custom code here

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

$primary-dark: #181a1b;
$secondary-dark: #2b2f31;
$dark-blue: #004daa;
$text-white: #d8d4cf;
$caption-white: #e8e6e3;
$primary-font: 'Montserrat', sans-serif;

// /* ========== END Dark Mode Colors ========== */
// /* To use background images thourgh  url, use it in Javasciprt using
// import asset statment and e.style.background = `${importedImage}` */
